*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body{
    font-family: "微软雅黑";
    color: #333333;
    min-width: 1200px;
}
.tou{
    width: 100%;
    height: 30px;
    background:rgb(227,228,229);
}
nav{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.sc{
    width: 20%;
    float: left;
}
.sc a{
    font-size: 12px;
    line-height: 30px;
    color: #666666;
    text-decoration:none;
}
nav ul {
    width: 65%;
    float: right;
    margin-block-start: 0em;
    margin-block-end: 0em;
    list-style: none;
}
nav ul li {
    width: 14%;
    height: 30px;
    float: left;
    cursor: pointer;
    position: relative;
}
.li{
    width: 100%;
    height: 16px;
    margin-top: 7px;
    float: left;
    border-left: 1px solid rgb(102,102,102);
    font-size: 12px;
    color: #666666;
    text-align: center;
}
.yc{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-top: 15px;
    margin-left: -85px;
    width: 170px;
    height: 70px;
    background: white;
    display: none;
    border: 1px solid rgb(227,228,229);
    border-top: none;
}
nav ul li:hover{
    background:white;
}
nav ul li:hover .yc{
    display: block;
}
.second_nav{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    height: 110px;
    padding-top: 10px;
}
.second_nav .container-fluid .search_fenlei{
    margin: 0px;
    overflow: hidden;
    height: 20px;
}
.second_nav .container-fluid .search_fenlei span{
    width: 40px;
    height: 20px;
    float: left;
    text-align: center;
}
.second_nav .container-fluid .search_fenlei span.goods{
    color: #FFFFFF;
    background-color: #41bbee;
}
.second_nav .container-fluid .row input{
    border: 1px solid #41bbee;
    width: 80%;
    height: 30px;

}
.second_nav .container-fluid .row .search{
    display: inline-block;
    width: 60px;
    height: 30px;
    text-align: center;
    background-color:#41BBEE;
    color: #FFFFFF;
    line-height: 30px;
    vertical-align: top;
}
.second_nav .container-fluid .row .row_left{
    height: 50px;
    padding-top: 20px;
    text-align: right;
}
.second_nav .container-fluid .row .row_left span{
    margin-right: 10px;

}
.second_nav .container-fluid .row .row_left span.peisong{
    margin-right: 0px;
}
.second_nav .container-fluid .second_row{
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.second_nav .container-fluid .second_row .all_feilei{
    background-color: #41BBEE;
    color: #FFFFFF;
}
.carousel{
    height: 514px;
}
#carousel-example-generic .login{
width: 200px;
height: 514px;
position: absolute;
top: 0px;
right: 260px;
padding: 30px 5px 0px 5px;
background: rgba(240,251,255,0.7);
}
.login input{
    width: 190px;
    height: 30px;
    margin-bottom: 10px;
}
.login .three{
    width: 110px;

}
.login .yanzhengma{
    width: 70px;
    margin-left: 8px;
}
.login .forgetPass{
    display: block;
    text-align: right;
    color: #999999;
    font-size: 12px;
}
.login .loginBtn{
    width: 190px;
    height: 30px;
    background-color: #41BBEE;
    text-align: center;
    color: #FFFFFF;
    line-height: 30px;
    border-radius: 5px;
}



body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,pre,blockquote,figure{margin:0;}
ul,ol,menu,input,button{margin:0;padding:0;}


#nav .category-content{
    position:relative;
    width:201px;
    float:left;
    z-index:113;
}
/*#nav .category-content .all-goods{*/
/*display:block;*/
/*width:100%;*/
/*height:36px;*/
/*padding:0;*/
/*border-radius:5px 5px 0 0;*/
/*color:#fff;*/
/*text-align:center;*/
/*font:16px/36px "Microsoft YaHei";*/
/*background:#41bbee;*/
/*}*/
/*#nav .category-content .all-goods em{*/
/*font:12px/36px "Microsoft YaHei";*/
/*}*/
.category-content .category{
    position:absolute;
    top:0;
    left: -16px;
    z-index:113;
    width:201px;
+height:456px;
    border:1px solid #dadad9;
    border-top:none;
    background:#fefefe;
}
.category-content .category-list li{
    height:64px;
    border:2px solid #fff;
    border-right:none;
    position:relative;
    z-index:113;
    vertical-align:bottom;
}
.category-content .category-list a:hover{
    text-decoration:none;
    color:#41bbee;
}
.category-content .category-info{
    padding-left:12px;
}
.category-content .category-name{
    overflow:hidden;
    position:relative;
    padding-top:10px;
    font:600 16px/30px "宋体";
}
.category-content .category-name i{
position:absolute;
top:13px;
width:25px;
height:25px;
-top:6px;
}
.category-content .category-name b{
    margin-left:4px;
    font:400 12px/28px "宋体";
}
.category-content .category-name a{
    color:#4c4c4c;
}
.category-content .category-name .ml-22{
margin-left:35px;
}
.category-content .list-nz i{
background-position:0 -200px;
}
.category-content .list-nanz i{
background-position:-23px -200px;
}
.category-content .list-tz i{
background-position:-48px -200px;
}
.category-content .list-ny i{
background-position:-72px -200px;
}
.category-content .list-xb i{
background-position:-96px -200px;
}
.category-content .list-xl i{
background-position:0 -225px;
}
.category-content .c-category-list{
    font:400 12px/24px "宋体";
}
.category-content .c-category-list a{
    margin-right:8px;color:#626262;
}
.category-content .category-info{
    position:relative;
    height:72px;
    overflow:hidden;
}
.category-content .category-info em{
    position:absolute;
    top:16px;
    right:10px;
    width:13px;
    height:13px;
    font:12px/18px "宋体";
    color:#9b9b9b;
}
.category-content .category .hover{
    box-shadow:0px 2px 3px #ccc;
    margin-left:-1px;
    padding-left:1px;
    z-index:999;
}
.category-content .hover .category-info{
    border:none;
    text-decoration:none;
    background:#fff;
}
.category-content .menu-item{
    display:none;
    position:absolute;
    z-index:11;
    left:190px;
    width:770px;
    padding:0 0 0 2px;
    background:#fff;
    border:none;
    box-shadow:0px 2px 3px #ccc;
    border-top:1px solid #bbb\9;
    zoom:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=4)";
    filter:"progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=4)";
}
.category-content .menu-item .area-in{
    position:relative;
    z-index:1;
}
.category-content .menu-item .area-bg{
    padding:10px 0 10px 40px;
}
.category-content .menu-in{
    display:none;
}
.category-content .category-list li.hover .category-info{
    z-index:999;
}
.category-content .menu-item{
    left:193px;
}
.c-category-list{
    width:160px;
    margin-right:1px;
    zoom:1;
    padding-left: 34px;
    border-bottom: 1px solid #cccccc;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height:22px;
}
/* sublist */
.sublist li{
    float:left;
    width:156px;
    height:90px!important;
    overflow:hidden;
    padding-right:24px;
    padding-bottom:24px;
}
.sublist li h3.mcate-item-hd{
    font-family:'微软雅黑';
    padding-left:2px;
    font-size:14px;
    height:26px;
    line-height:26px;
    border-bottom:1px dashed #666666;
}
.sublist li p.mcate-item-bd{padding-left:2px;}
.sublist li p.mcate-item-bd a{
    height:26px;
    line-height:26px;
    margin-right:5px;
    font-size:12px;
    color:#666666;
    text-decoration:none;
    display:inline-block;
}
.sublist li p.mcate-item-bd a:hover{color:#6c5143;text-decoration:underline;}

.hot_article{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.activities{
    width: 1200px;
    overflow: hidden;
    margin: 30px 0 20px 0;
}
.activities h4{
    float: left;
}
.activities p{
    float: right;
}

/*.content1{*/
    /*width: 1200px;*/
    /*overflow: hidden;*/
/*}*/
.selected1{
    width: 240px;
    height: 348px;
    background: rgb(240,251,255);
    float: left;
}
.selected1:hover{
    background: rgb(191,233,249);
}
.selected1 img{
    margin: 20px 35px;
}
.selected1 h3,p{
    text-align: center;
}
.selected1 p{
    margin-top: 10px;
}
.selected1 .price_1{
    width: 203px;
    height: 24px;
    margin: 20px auto 0;
    border: 1px solid #41BBEE;
}
.selected1 .price_1 span{
    display: inline-block;
    width: 98px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.content2{
    width: 1200px;
    height: 360px;
}
.content2 a:nth-child(1){
    width: 210px;
    height: 360px;
    float: left;
    display: block;
}
.content2 .shangpin{
    width: 780px;
    height: 360px;
    background-color: #41BBEE;
    float: left;
}

 .daohang{
     width: 920px;
     margin-top: 25px;
 }
 .daohang ul{
     width: 920px;
     height: 25px;
     margin-left: 8px;
 }
 .daohang ul li{
     width: 181px;
     text-align: center;
     font-size: 14px;
     color: #333333;
     float: left;
 }
.daohang ul li:hover{
    color: #41BBEE;
}
 .neirong{
     width: 920px;
     height: 267px;
     background: url("../img/di.png");
     overflow: hidden;
 }
 .neirong .neirong_box{
     width: 170px;
     height: 265px;
     margin: 25px 4px;
     float: left;
 }
.neirong .neirong_box p{
    margin:5px 0;
    width: 160px;
    text-align: left;
}
.neirong .neirong_box span{
    color: #c9302c;
}
 .le1{
     width: 1200px;
     margin: 20px auto 30px;
 }
 .level_1{
     width: 1200px;
     overflow: hidden;
 }
 .level_1>ul{
     width: 440px;
     height: 30px;
     float: right;
 }
 .level_1>ul li{
     width: 80px;
     height: 30px;
     margin-left: 30px;
     line-height: 30px;
     text-align: center;
     float: left;
 }
.level_1>ul li:hover{
    background-color: #41BBEE;
}
.shengxian{
    width: 1200px;
    height: 440px;
    margin-top: 30px;

    background-color: #cccccc;
}
.shengxian .left1{
    width: 240px;
    height: 440px;
    background: url("../img/1ft.png") no-repeat;
    overflow: hidden;
    float: left;
}
.left1_box{
    width: 210px;
    height:120px;
    margin: 300px auto 0;
}
.left1_box>ul{
    width: 210px;
    height: 120px;
}
.left1_box>ul>li{
    width: 60px;
    height: 30px;
    border: 1px solid rgba(255,255,255,0.3);
    line-height: 30px;
    text-align: center;
    margin: 5px 5px;
    float: left;
    background: rgba(255,255,255,0.3);
}
.left1_box>ul>li:hover{
    background: rgba(255,255,255,0);
}
.left1_box>ul>li a{
    font-size: 12px;
    color: #fffefe;
}
.center1{
    width: 760px;
    height: 440px;
    float: left;
}
.bottom1{
    width: 1200px;
    height: 70px;
}
.bottom1 .mengniu{
    width: 120px;
    height: 70px;
    float: left;
}